/* ******************************************** */

/* body {
  font-family: "Gowun Dodum", sans-serif;
} */

/* header custom styles  */
.honda-header-bg-styles {
  background: #264653;
  height: 698px;
}

/* custom button  */
.honda-button-styles {
  background: #e76f51;
  border-radius: 5px;
  padding: 10px;
  width: 168px;
  height: 44px;
}

/* image grey effect  */
.honda-feature-image-styles {
  width: 288px;
  height: 243px;
  cursor: pointer;
  margin: 60px;
}
.honda-grey-image-effect {
  filter: grayscale(100%);
}
