/* ******************************************** */
/* common styles  */
body {
  font-family: "Open Sans", sans-serif;
}

.honda-title-text-color {
  color: #e76f51;
}
.honda-section-spacer {
  margin-top: 150px;
}
h1 {
  font-weight: bold;
}

/* header custom styles  */
.honda-header-bg-styles {
  background: #264653;
  height: 698px;
}

/* custom button  */
.honda-button-styles {
  background: #e76f51;
  border-radius: 5px;
  padding: 10px;
  width: 168px;
  height: 44px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}

/* image grey effect  */
.honda-feature-image-styles {
  width: 288px;
  height: 243px;
  cursor: pointer;
  margin: 60px;
}
.honda-grey-image-effect {
  filter: grayscale(100%);
}

/* client images  */
.honda-client-image-styles {
  width: 149px;
  height: 149px;
}
.fa-star.filled {
  color: #e77c40;
}
.fa-star.empty {
  color: silver;
}

/* faq section  */
.honda-faq-text-styles {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
}
.honda-faq-image-styles {
  width: 431.2px;
  height: 423.5px;
}
.honda-faq-border-styles {
  border: 1px solid #d5e5fb;
  box-sizing: border-box;
  border-radius: 5px;
}

.honda-compare-image-styles {
  height: 400px;
  width: 600px;
}

footer {
  width: 100%;
  height: 300px;
  background: black;
  color: #e76f51;
}
